-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: bacaditeras
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bdt_announcements`
--

DROP TABLE IF EXISTS `bdt_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_announcements` (
  `id` int(11) NOT NULL,
  `author_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_article`
--

DROP TABLE IF EXISTS `bdt_article`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_article` (
  `article_id` int(11) NOT NULL,
  `title` varchar(300) NOT NULL,
  `slug` varchar(300) NOT NULL COMMENT 'URL-friendly, contoh: festival-baca-desa-teras-2026',
  `excerpt` text DEFAULT NULL COMMENT 'Ringkasan singkat (max 300 karakter)',
  `body` longtext NOT NULL COMMENT 'Isi artikel penuh, mendukung HTML',
  `cover_image` varchar(255) DEFAULT NULL COMMENT 'Path gambar utama artikel',
  `category` enum('berita','kegiatan','pengumuman','resensi','literasi','lainnya') NOT NULL DEFAULT 'berita' COMMENT 'Kategori artikel',
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'draft',
  `publish_date` datetime DEFAULT NULL COMMENT 'Tanggal & jam dipublish (bisa dijadwalkan)',
  `is_featured` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1=tampil di homepage',
  `is_pinned` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1=ditempel di atas daftar',
  `created_by` int(11) DEFAULT NULL COMMENT 'FK ΓåÆ user.user_id (SLiMS librarian)',
  `updated_by` int(11) DEFAULT NULL COMMENT 'FK ΓåÆ user.user_id (SLiMS librarian)',
  `biblio_id` int(11) DEFAULT NULL COMMENT 'FK opsional ΓåÆ biblio.biblio_id (SLiMS)',
  `library_id` int(11) DEFAULT NULL COMMENT 'FK opsional ΓåÆ bdt_library.library_id',
  `meta_description` varchar(300) DEFAULT NULL,
  `meta_keywords` varchar(255) DEFAULT NULL,
  `view_count` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Artikel, berita, dan kegiatan portal Baca Di Teras';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_article_published`
--

DROP TABLE IF EXISTS `bdt_article_published`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_article_published` (
  `article_id` int(11) DEFAULT NULL,
  `title` varchar(300) DEFAULT NULL,
  `slug` varchar(300) DEFAULT NULL,
  `excerpt` text DEFAULT NULL,
  `body` longtext DEFAULT NULL,
  `cover_image` varchar(255) DEFAULT NULL,
  `category` enum('berita','kegiatan','pengumuman','resensi','literasi','lainnya') DEFAULT NULL,
  `status` enum('draft','published','archived') DEFAULT NULL,
  `publish_date` datetime DEFAULT NULL,
  `is_featured` tinyint(1) DEFAULT NULL,
  `is_pinned` tinyint(1) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `biblio_id` int(11) DEFAULT NULL,
  `library_id` int(11) DEFAULT NULL,
  `meta_description` varchar(300) DEFAULT NULL,
  `meta_keywords` varchar(255) DEFAULT NULL,
  `view_count` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `library_name` varchar(150) DEFAULT NULL,
  `library_slug` varchar(100) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_article_tag`
--

DROP TABLE IF EXISTS `bdt_article_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_article_tag` (
  `tag_id` int(11) NOT NULL,
  `article_id` int(11) NOT NULL COMMENT 'FK ΓåÆ bdt_article.article_id',
  `tag_name` varchar(50) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Tag per artikel';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_article_view`
--

DROP TABLE IF EXISTS `bdt_article_view`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_article_view` (
  `view_id` int(11) NOT NULL,
  `article_id` int(11) NOT NULL COMMENT 'FK ΓåÆ bdt_article.article_id',
  `view_date` date NOT NULL DEFAULT curdate(),
  `view_count` int(11) NOT NULL DEFAULT 1
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Statistik harian pembacaan artikel';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_donasi_partner`
--

DROP TABLE IF EXISTS `bdt_donasi_partner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_donasi_partner` (
  `partner_id` int(11) NOT NULL,
  `name` varchar(150) NOT NULL COMMENT 'Nama organisasi/sponsor',
  `logo_path` varchar(255) DEFAULT NULL COMMENT 'Path ke file logo (relatif dari root)',
  `website_url` varchar(255) DEFAULT NULL COMMENT 'URL website partner (opsional)',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Urutan tampil (ascending)',
  `is_visible` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=tampil, 0=disembunyikan',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Logo partner/sponsor untuk halaman donasi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_donatur`
--

DROP TABLE IF EXISTS `bdt_donatur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_donatur` (
  `donatur_id` int(11) NOT NULL,
  `name` varchar(150) NOT NULL COMMENT 'Nama donatur',
  `amount` decimal(15,2) DEFAULT NULL COMMENT 'Jumlah donasi (opsional, NULL = tidak ditampilkan)',
  `donated_at` date NOT NULL DEFAULT curdate() COMMENT 'Tanggal donasi',
  `note` text DEFAULT NULL COMMENT 'Catatan opsional',
  `is_visible` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=tampil, 0=disembunyikan',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Daftar donatur halaman donasi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_feature`
--

DROP TABLE IF EXISTS `bdt_feature`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_feature` (
  `feature_id` int(11) NOT NULL,
  `icon` text DEFAULT NULL COMMENT 'SVG path string (isi <svg>)',
  `title` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `href` varchar(255) DEFAULT '#',
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `sort_order` int(3) NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Daftar fitur/layanan yang ditampilkan di landing page';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_information`
--

DROP TABLE IF EXISTS `bdt_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_information` (
  `info_id` int(11) NOT NULL,
  `id_name` varchar(100) DEFAULT NULL COMMENT 'Identifier unik, misal: peminjaman, keanggotaan',
  `type` enum('faq','service','rule','schedule','download','lainnya') NOT NULL DEFAULT 'lainnya',
  `title` varchar(255) NOT NULL,
  `content` text DEFAULT NULL,
  `extra_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Data tambahan: poin, action label, dsb.' CHECK (json_valid(`extra_data`)),
  `status` enum('aktif','nonaktif') NOT NULL DEFAULT 'aktif',
  `sort_order` int(3) NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Informasi umum: FAQ, layanan, jadwal, unduhan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_library`
--

DROP TABLE IF EXISTS `bdt_library`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_library` (
  `library_id` int(11) NOT NULL,
  `slims_location_id` varchar(3) NOT NULL DEFAULT '' COMMENT 'FK ΓåÆ mst_location.location_id',
  `slug` varchar(100) NOT NULL COMMENT 'URL-friendly identifier, contoh: perpustakaan-utama',
  `name` varchar(150) NOT NULL COMMENT 'Nama resmi perpustakaan',
  `tagline` varchar(255) DEFAULT NULL COMMENT 'Slogan atau sub-judul singkat',
  `badge` varchar(50) DEFAULT NULL COMMENT 'Label badge, contoh: Unggulan | Digital | Khusus Anak',
  `status` enum('aktif','nonaktif','sementara-tutup') NOT NULL DEFAULT 'aktif',
  `address` varchar(255) DEFAULT NULL,
  `village` varchar(100) DEFAULT NULL COMMENT 'Nama dusun/RT',
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `google_maps_url` text DEFAULT NULL COMMENT 'URL Google Maps embed atau link',
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `cover_image` varchar(255) DEFAULT NULL COMMENT 'Path gambar utama perpustakaan',
  `thumbnail_image` varchar(255) DEFAULT NULL COMMENT 'Path gambar thumbnail untuk card',
  `total_koleksi` int(11) NOT NULL DEFAULT 0 COMMENT 'Total koleksi; disinkronkan via cron/trigger',
  `total_anggota` int(11) NOT NULL DEFAULT 0 COMMENT 'Total anggota aktif',
  `description` text DEFAULT NULL COMMENT 'Deskripsi lengkap HTML diperbolehkan',
  `sejarah` text DEFAULT NULL COMMENT 'Sejarah singkat perpustakaan',
  `visi` text DEFAULT NULL,
  `misi` text DEFAULT NULL,
  `sort_order` int(3) NOT NULL DEFAULT 0 COMMENT 'Urutan tampil di halaman perpustakaan',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Profil lengkap perpustakaan desa, terintegrasi dengan mst_location SLiMS';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_library_facility`
--

DROP TABLE IF EXISTS `bdt_library_facility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_library_facility` (
  `facility_id` int(11) NOT NULL,
  `library_id` int(11) NOT NULL COMMENT 'FK ΓåÆ bdt_library.library_id',
  `icon` varchar(50) DEFAULT NULL COMMENT 'Nama icon SVG atau kelas ikon',
  `name` varchar(100) NOT NULL COMMENT 'Nama fasilitas, contoh: WiFi Gratis',
  `description` varchar(255) DEFAULT NULL,
  `sort_order` int(3) NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Daftar fasilitas per perpustakaan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_library_gallery`
--

DROP TABLE IF EXISTS `bdt_library_gallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_library_gallery` (
  `gallery_id` int(11) NOT NULL,
  `library_id` int(11) NOT NULL COMMENT 'FK ΓåÆ bdt_library.library_id',
  `image_path` varchar(255) NOT NULL COMMENT 'Path file gambar',
  `caption` varchar(255) DEFAULT NULL,
  `alt_text` varchar(255) DEFAULT NULL COMMENT 'Alt text untuk aksesibilitas',
  `sort_order` int(3) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Galeri foto per perpustakaan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_library_hour`
--

DROP TABLE IF EXISTS `bdt_library_hour`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_library_hour` (
  `hour_id` int(11) NOT NULL,
  `library_id` int(11) NOT NULL COMMENT 'FK ΓåÆ bdt_library.library_id',
  `day_of_week` tinyint(1) NOT NULL COMMENT '0=Minggu, 1=Senin, 2=Selasa, 3=Rabu, 4=Kamis, 5=Jumat, 6=Sabtu',
  `is_open` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=buka, 0=tutup',
  `open_time` time DEFAULT NULL COMMENT 'Jam buka, NULL jika tutup',
  `close_time` time DEFAULT NULL COMMENT 'Jam tutup, NULL jika tutup',
  `note` varchar(100) DEFAULT NULL COMMENT 'Catatan, contoh: Khusus anggota'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Jam operasional per hari per perpustakaan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `bdt_library_stats`
--

DROP TABLE IF EXISTS `bdt_library_stats`;
/*!50001 DROP VIEW IF EXISTS `bdt_library_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `bdt_library_stats` AS SELECT 
 1 AS `library_id`,
 1 AS `slug`,
 1 AS `name`,
 1 AS `slims_location_id`,
 1 AS `total_koleksi`,
 1 AS `total_anggota`,
 1 AS `total_eksemplar_aktif`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `bdt_migration_map`
--

DROP TABLE IF EXISTS `bdt_migration_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_migration_map` (
  `map_id` bigint(20) unsigned NOT NULL,
  `library_id` int(11) NOT NULL,
  `source_code` varchar(10) NOT NULL,
  `source_database` varchar(64) NOT NULL,
  `source_type` varchar(20) NOT NULL,
  `source_table` varchar(64) NOT NULL,
  `old_id` varchar(100) NOT NULL,
  `target_table` varchar(64) NOT NULL,
  `new_id` varchar(100) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bdt_village_profile`
--

DROP TABLE IF EXISTS `bdt_village_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bdt_village_profile` (
  `profile_id` int(11) NOT NULL,
  `village_name` varchar(150) NOT NULL DEFAULT 'Desa Teras',
  `tagline` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `sejarah` text DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL COMMENT 'Kecamatan',
  `regency` varchar(100) DEFAULT NULL COMMENT 'Kabupaten',
  `province` varchar(100) DEFAULT NULL COMMENT 'Provinsi',
  `postal_code` varchar(10) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `website` varchar(100) DEFAULT NULL,
  `google_maps_url` text DEFAULT NULL COMMENT 'URL embed Google Maps',
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `logo_path` varchar(255) DEFAULT NULL,
  `hero_image_path` varchar(255) DEFAULT NULL,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Profil utama Desa Teras (satu baris)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Final view structure for view `bdt_library_stats`
--

/*!50001 DROP VIEW IF EXISTS `bdt_library_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `bdt_library_stats` AS select `lib`.`library_id` AS `library_id`,`lib`.`slug` AS `slug`,`lib`.`name` AS `name`,`lib`.`slims_location_id` AS `slims_location_id`,`lib`.`total_koleksi` AS `total_koleksi`,`lib`.`total_anggota` AS `total_anggota`,count(distinct `i`.`item_id`) AS `total_eksemplar_aktif` from (`bdt_library` `lib` left join `item` `i` on(`i`.`location_id` = `lib`.`slims_location_id` and (`i`.`item_status_id` not in ('WD','MIS') or `i`.`item_status_id` is null))) group by `lib`.`library_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-30 18:20:47
